*{
    padding: 0px;
    margin: 0px;
}
.black{
    background: #ebeaea;
    background-position: center;
    padding: 0px;
}
.color :hover{
    background-color: rgb(102, 102, 91);
}
.container-fluid img{
    /* text-align: center;
    color: white;
    font-family: fantasy;
    font-size: 10px; */
    transition: 1s ease-in-out;
    size: 10px;
}
.joke:hover{
    color: gold;
    cursor: pointer;
    transform: scale(1.1);
}
.image-box img{
    max-height: 400px;
}
.head{
    height: 150px;
    width: 90%;
    border-radius: 50%;
}

.examples {
	max-width: 700px;
	background-color: #fff;
	margin: 0 auto 75px;
	padding: 30px 50px;
	color: #4c4e56;
}

.examples-note{
    text-align: center;
    font-size: 14px;
    max-width: 370px;
    margin: 0 auto 40px;
    line-height: 1.7;
    color: #7a7a7a;
}

.examples table {
    margin: 5px 0 0 0;
    font-size: 14px;
} 