*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Nunito', sans-serif;
   
}
a:hover{
    text-decoration:none;
}
.creditCardForm {
    max-width: 700px;
    background-color: #fff;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
}
.breadcrumb-header{
    background:linear-gradient(45deg, #55050570, #55050570),url(../images/banner-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    padding: 19px 0;
    color:#f4fbfc;

}
.pad-t-5{
    padding-top: 5rem;
}
.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}

.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}

.creditCardForm .payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}

.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}

.creditCardForm .payment .form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
}

.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}

.creditCardForm .CVV {
    width: 35%;
}

.creditCardForm #card-number-field {
    width: 100%;
}

.creditCardForm #expiration-date {
    width: 49%;
}

.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}

.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}

.creditCardForm .payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: #2ec4a5;
    color: white;
}
.carousel-caption h1, .carousel-caption h5, .carousel-caption p{
    color:#515152;
}
.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;
}

.transparent {
    opacity: 0.2;
}
.nav-pill-max-height{
    border: 1px solid #ccc;
    height: max-content;
}

@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
}


/*  Examples Section */

.examples {
	max-width: 700px;
	background-color: #fff;
	margin: 0 auto 75px;
	padding: 30px 50px;
	color: #4c4e56;
}

.examples-note{
    text-align: center;
    font-size: 14px;
    max-width: 370px;
    margin: 0 auto 40px;
    line-height: 1.7;
    color: #7a7a7a;
}

.examples table {
    margin: 5px 0 0 0;
    font-size: 14px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    border-radius: 0px;
}
.content-text h3, .content-text p{
    margin:0;
}
.text-dark{
   color: #4f4f4f;
}
.content-text{
    padding:15px;
}
.active-categories{
    border-bottom: 1px solid #ccc;
    padding: 14px 4px;
}
.cloth-description{
    line-height: 16px;
    margin: 2px;
}
.nav-link:hover{
    /* background: #f4fbfc; */
    border: none;
}
.nav-link{
    color: #4f4f4f;
}
.content-text h3{
    font-weight: 900;
    margin-bottom: 3px;
}
.clothing-section{
    height: max-content; 
    overflow: hidden;
    text-align: center;
  }
.clothing-section img {
    transition: transform .5s ease;
    width: 200px;
    height: 200px;
  }
  .clothing-section:hover img {
    transition: transform .5s ease;
  transform: scale(1.1);
}
.breadcrumb-header{
    /* align-items:center; */
    justify-content: center;
}
  .carousel-img{
      height: 640px;
      object-fit:cover;
  }

   .after {
    content: '';
    position: absolute;
    top: 0;
    left:-25rem;
    right: 0;
    bottom: 0;
    background:linear-gradient(84deg, #dbd7dadb, #f0edef, #0000007d, #1412120a),url(../images/heroslider-shape-2.png);
    height: 640px;
    opacity: .90;
   }
   .carousel-caption {
    position: absolute;
    top: 18rem;
    left: -21rem;
   }
   .text-pink{
       color: #c7118f;
   }
   .shop-now{
    background:linear-gradient(84deg,#000000d1, #010101db),url(../images/shop-now.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 96px 0;
    text-align: center;
    color: #f4fbfc;
    
   }
   .timer{
    padding: 0 23px;
    font-size: 61px;
    width: 100%;
    background: #f8f9fa;
    font-weight: 400;
    color: #c7118f;
    margin: 36px;
   }
   .discount-price{
       font-size: 50px;
   }
   .discount-price span{
    color: #c7118f;

   }
   .bod-bott{
       text-align:center;
       padding:2rem;
       padding-bottom: 0.5rem;;
   }
   .bod-bott:after{
       content:"";
       display:block;
    border-bottom: 3px solid #c9518f;
    width: 6rem;
    height:5px;
    margin:auto;
    margin-bottom: 2rem;
    padding-right:9px;
    text-align: center;

   }
   /* .carousel-control-prev {
    left: 31px;
}
.carousel-control-next {
    right: 31px;
} */

.btn-danger{
    background-color:#c9518f !important;
    border-color:#c9518f!important;
}
.shop-now-btn{
    background: #c9518f;
    width: max-content;
    margin: auto;
    padding: 7px 25px;
    border-radius: 3px;
    margin-top: 20px;
}
.shop-now-btn a{
    color:#f4fbfc;
}
.logo{
    width: 70px;
    height: 50px;
    object-fit: fill;
}
footer{
    background:linear-gradient(45deg, #121111f5, #121111f2),url(../images/banner-img.jpg);
    color: #f4fbfc;
    padding:5rem 0;
    border-top:2px solid #c9518f;;
    padding-bottom :0;
    background-position: fixed;
}
footer h4{
    margin: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    font-weight:800;
}
footer ul{
    list-style-type: none;
   
}
.list-item-section li{
    padding: 7px;
    /* margin-top: 2rem; */
}
.form-subscribe:focus{
    border-color: #c9518f;;
    background: transparent;
    outline-color: none;
    outline: 0;
    box-shadow:none;
}
.form-subscribe{
    background: transparent;
    border-radius: none;
    margin-bottom: 1rem;
}
.font-800{
    font-weight: 800;
}
.copyright-section{
    text-align: center;
    margin-top: 4rem;
    padding: 0.5rem;
    border-top: 1px solid #ccc;
}
.img-footer{
    border: 1px solid #fff;
    padding: 2px;
    width: 50px;
}
.text-danger{
    color:#c9518f!important;
}
.bg-danger{
    background-color:#c9518f!important;
    
}
.navbar a{
    font-weight:700;
}
.bg-glasses{
    background: url(../images/sun-glass.jpg);
    padding: 14rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-glasses h1{
    border-left: 3px solid #c9518f;
    padding: 11px;
    font-weight: 800;
    color:#f0edef;;
}
.bg-glasses h3{
    padding: 11px;
    font-weight: 800;
    color:#f0edef;
}
.iframe-container{
    padding: 30px;
    border: 1px solid #f1f1f1;
    line-height: 1;
    border-radius: 25px;
    background-color: #fff;
    height: 100%;
}
.card-bd{
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    font-size: 25px;
    /* color: #d75690; */
}
.contact-section h3{
    color:#d75690;
}